.div-box {
    border: 2px solid black;
    padding: 10px 20px;
    margin: 20px;
    background-color: lightgray;
}

.placeholder {
    border: 2px solid black;
    padding: 50px;
    background-color: #eeeeee;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0px;
    margin: 0;
    width: 100%;
}

nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
    margin: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0px;
    margin: 0;
    width: 100%;
}
