.header-top {
    display: flex;
    align-items: center:
    gap: 10px;
}

.div-box {
    border: 2px solid black;
    padding: 10px 20px;
    margin: 20px;
    background-color: lightgray;
}

.placeholder {
    border: 2px solid black;
    padding: 50px;
    background-color: #eeeeee;
    margin: 10px;
}

.entertainment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    gap: 20px; /* space between the boxes */
    text-align: center;
    font-size: 25px;
}

.back-to-home {
    margin-top: 20px;
    text-align: center;
}

#logo {
    width: 10%;
    text-align: center;
    height: 100%;
}

#title {
    flex-grow: 1;
    text-align: center;
    font-size: 50px;    
}

#main-image {
    padding: 100px;
    margin-bottom: 20px;
    text-align: center;
}

#welcome-message {
    padding: 25px;
    text-align: center;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
}
